$block: ".purrweb-badge";

#{$block}{
  align-self: baseline;
  display: inline-block;
  padding: 2px 15px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #272727;
  background-color: rgba(248, 231, 28, 0.37);;
}