$block : purrweb-image-circle;

.#{$block}{
  position: relative;
  width: 400px;
  flex:0 0 400px;
  padding: 15px;
  margin: 23px 62px 75px;
  &__small{
    width: 364px;
    flex:0 0 364px;
    padding: 6px;
    margin: 23px 0 0;
    .#{$block}__after{
        top:37px;
        height: 100%;
        width: 100%;
    }
    .#{$block}__before{
        top: 31px;
        height: 100%;
        width: 100%;
        left: 25px;
    }
  }
  &__before{
      display: block;
      position: absolute;
      height: calc(100% + 21px);
      width: calc(100% + 20px);
      left:36px;
      top:17px;
      background-color: $color2;
      border-radius: 50%;
      z-index: 1;

  }
  &__after{
     display: block;
     position: absolute;
     height: calc(100% + 20px);
     width: calc(100% + 20px);
     left: -23px;
     top: 36px;
     background-color: $color4;
     border-radius: 50%;
     box-shadow: 0 11px 12px 0 rgba(0, 0, 0, 0.1);
     z-index: 0;
  }
  img{
    position: relative;
    z-index: 3;
  }
}
