$block : ".purrweb-hero";

#{$block}{
  position: relative;
  &__intro{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
  }
  &__header{
    margin-bottom: 57px;
  }
  &__title{
    margin-bottom: 13px;
  }
  &__content{
    position: relative;
  }
}