$block : purrweb-rate;

.#{$block} {
  position: relative;
  margin-bottom: 129px;
  &:after{
    content: '';
    position: absolute;
    bottom: 35px;
    height: 15px;
    width: 100%;
    box-shadow: 0 11px 12px 0 rgba(0, 0, 0, .1);
  }
  &__heading{
    padding-left: 33px;
    font-size: 48px;
    line-height: 1;
    color: $color3;
    font-family: $font-secondary;
    margin-bottom: 13px;
  }
  &__title{
    margin-right: 106px;
    @extend .flexbox;
    @extend .justify-flex-end;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    color: $color3;
  }
}