$font-primary: 'Nunito';
$font-secondary: 'Ultra';

$color: #9b9b9b;
$color1: #000000;
$color2: #f8e71c;
$color3: #272727;
$color4: #ffffff;
$color5: #ab4242;
$color6: #f6a623;
$color7: #4990e2;
$color8: #e1e1e1;
$color9: #878787;